/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

.root {
  --nav-color: #749bc2;
  --bgr-color: #f6f4eb;
  --font-color: #0e2954;
  --default-font-family: "Montserrat", sans-serif;
}
