/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
  --nav-color: #749bc2;
  --bgr-color: #f6f4eb;
  --font-color: #0e2954;
  --default-font-family: "Montserrat", sans-serif;
}

.navbar-light {
  background-color: var(--nav-color) !important;
  border: none !important;
  border-width: 0 !important;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  background-color: var(--bgr-color);
  text-align: center;
  padding: 50px 0;
}

.header p {
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 1;
}

h2 {
  font-family: var(--default-font-fami›ly);
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 65px;
}

h1 {
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 350px;
}

.development-index,
.design-index {
  text-align: center;
  max-width: 350px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper a {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
}

:hover a {
  color: var(--font-color);
}

p {
  margin-top: 20px;
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color);
}

.projects {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.custom-size-img {
  max-height: 80%;
  border-radius: 6px;
  margin-left: 80px;
}

.text {
  margin-right: 80px;
}

.about-me {
  padding: 160px 20px;
}

.about-me h2 {
  text-align: center;
  line-height: 1.2;
}

.about-me h1,
p {
  text-align: center;
}

.about-links {
  text-align: center;
  font-weight: 500;
}

.about-img {
  border-radius: 6px;
}

@media (max-width: 768px) {
  .custom-size-img {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text {
    margin-top: 20px;
    margin-right: 0;
    text-align: center;
  }
}

.contact-information {
  background-color: var(--bgr-color);
  padding: 20px;
}

.email {
  font-weight: bold;
}

@media (min-width: 992px) {
  .custom-size-img {
    max-height: 75%;
  }
}

@media (max-width: 992px) {
  .custom-size-img {
    margin-top: 40px;
    margin-left: 20px;
  }
  .text {
    margin-top: 40px;
    margin-right: 20px;
  }
}
